
/*
#37505C (charcoal)
#F07167 (bittersweet)
*/
/* change the colors 
add fix css states
*/
.homepageButtonLeague{
    color: white;
    background-color: #37505C;
}
.homepageButtonLeague:hover, .homepageButtonLeague:active{
    color: #F07167;
}