/* for login */
.centerLogin {
	padding-top: 22vh;
}

/*
#37505C (charcoal)
#F07167 (bittersweet)
*/
/* change the colors 
add fix css states
*/
.homepageButtonLeague {
	color: white;
	background-color: #37505c;
}
.homepageButtonLeague:hover,
.homepageButtonLeague:active {
	color: #f07167;
}

.imgClub {
	padding-top: 8%;
	max-width: 45%;
	height: auto;
}

.clubName {
	font-size: 23px;
	padding-right: 50%;
}

/* .viewMoreButton {
} */
